# Large Datasets (Raw competition data)
dataset/
*.tsv
*.csv

# Output results (keep output folder, ignore big intermediate and submission files)
output/*.tsv
output/*.csv
!output/.gitkeep

# Python cache & virtual environments
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE / OS specific files
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
